.delete {
  @apply w-full h-full flex items-center justify-center overflow-hidden;
  // @apply border border-red-500;

  &__container {
    @apply flex flex-col space-y-3 items-center justify-center;
  }

  &__buttons {
    @apply flex space-x-10;
    @apply opacity-100 transition-all duration-500;

    & > button {
      @apply text-2xl text-red-500 flex space-x-3 items-center rounded-md px-4 py-2 border-2;
      & > svg {
        @apply w-8 h-8;
      }
      &.confirm {
        @apply bg-red-900  border-red-300 text-white;
      }
      &.cancel {
        @apply border-red-300 border-opacity-5 text-red-300;
      }
    }

    &.hide {
      @apply opacity-0;
    }
  }

  animation: zoom-fade-in 0.3s ease-in-out;
}
@keyframes zoom-fade-in {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
