.fragment {
  @apply absolute flex items-center justify-center w-full h-full;
  @apply z-20 p-20 overflow-hidden;
  @apply bg-neutral-900 bg-opacity-70;
  animation: slide-in-bottom 0.3s ease-in-out;

  &__container {
    @apply flex items-center justify-center w-full h-full;
    @apply bg-neutral-900;
    @apply border-2 border-teal-500;
    animation-delay: 1s;
    animation: grow 0.3s ease-in-out;
  }

  // stats container
  &__stats {
    @apply w-72 h-full bg-zinc-900 p-3 flex flex-col space-y-3;
  }
  // single stat
  &__stat {
    @apply flex space-x-2 pb-2;
    &:not(:last-child) {
      @apply border-b-2 border-neutral-800;
    }
    &__details {
      @apply flex flex-col justify-center;
    }
    &__label {
      @apply text-sm font-bold text-teal-600 uppercase;
    }
    &__value {
      @apply text-sm text-teal-50;
    }
    & > svg {
      @apply w-10 h-10 text-teal-500;
    }
  }

  // data container
  &__data {
    @apply flex-grow h-full;
    @apply flex flex-col;
    @apply p-4;
    @apply overflow-hidden;
    &__container {
      @apply flex-grow h-full w-full;
      // @apply p-2;
      @apply bg-neutral-800;
      @apply overflow-y-scroll;
      @apply scrollbar-thin;
    }
  }
}

.close-icon {
  @apply w-10 h-10 p-1 text-neutral-100 bg-neutral-700 rounded-md cursor-pointer;
  &:hover {
    @apply bg-neutral-500 text-teal-50;
  }
  animation: fade-in 0.7s ease-in-out;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
