.fragments {
  @apply flex-1 flex flex-col;
  @apply h-full;
  @apply border-4 border-teal-800;
  // @apply rounded-xl;
  @apply overflow-hidden;

  &__header {
    @apply bg-teal-800;
    @apply px-2 py-1;
    @apply uppercase;
    @apply flex items-center justify-between;

    &__icons {
      @apply flex items-center space-x-2;
      @apply text-teal-600;
      & svg {
        @apply w-6 h-6 cursor-pointer;
        &:hover {
          @apply text-teal-200;
        }
      }
    }
  }

  &__search {
    @apply flex items-center justify-between;
    @apply px-5 py-3;
    @apply border-b border-teal-800 border-opacity-30;

    &__container {
    }
    &__input {
      @apply flex items-center space-x-2;
      & > svg {
        @apply w-5 h-5;
      }
      & > input {
        @apply text-teal-200 bg-neutral-800;
        @apply border-2 border-neutral-700;
        @apply px-3 py-1;
      }
    }
  }

  &__filters {
    @apply flex items-center space-x-2;
    & > svg {
      @apply w-6 h-6;
      @apply text-teal-800 cursor-pointer;
      &.active {
        @apply text-teal-400;
      }
    }
    & > select {
      @apply text-teal-500;
      @apply bg-neutral-800;
      @apply border-2 border-neutral-700;
      @apply px-3 py-1;
    }
  }

  &__container {
    @apply flex-grow;
    @apply h-full w-full;
    // @apply w-full;
    // @apply min-h-min;
    @apply grid grid-cols-6 gap-x-3 gap-y-2 grid-rows-4;
    // @apply items-start justify-start;
    // @apply flex space-x-0 flex-wrap;

    @apply p-4;
    @apply overflow-y-scroll;
    @apply scrollbar scrollbar-thin;

    --scrollbar-thumb: #29e6cd;
    --scrollbar-track: #242424;

    grid-template-rows: auto 1fr;
  }

  &__footer {
    // @apply h-full;
    // @apply flex items-end;
    &__container {
      @apply bg-teal-900 bg-opacity-20 w-full;
      @apply border-t border-teal-900 border-opacity-40;
      @apply px-5 py-1;
      @apply flex items-center justify-start;
      @apply space-x-5;
      @apply flex-none;
    }
    // @apply uppercase text-xl;
    &__stat {
      @apply flex items-center space-x-1 text-teal-500;
      & > svg {
        @apply w-5 h-5 text-teal-800;
      }
      &:not(:last-child) {
        @apply pr-5 border-r border-teal-700;
      }
    }
    &__value {
      @apply text-teal-300 font-semibold;
    }
  }
}
